.tab-link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1;
  
    padding: 12px 0;
    background-color:  #f6f6f6;
    li{
        padding: 0 10px;
        height: 20px;
    }
    a{
        color:#80bd01;
        padding: 5px 4px;
        font-size: 14px;
    }
    .tab-active{
        color:#f6f6f6;
        background-color: #80bd01;
        border-radius: 6px;
    }
}
@media (min-width: 400px) and (max-width: 975px){
    .tab-link {
        width: 100%;
        justify-content: flex-start;
    }
}
@media (min-width: 340px) and (max-width: 400px){
    .tab-link {
        width: 100%;
        padding-bottom: 5px;
        justify-content: space-around!important;
        li{
            padding: 5px 5px;
        }
    }
}
@media  (max-width: 340px){
    .tab-link {
        padding-bottom: 0;
        &:last-child{
            &:after{
                content: '';
                height:40px;
                width: 30px;
                flex:1;
            }
        }
    }
}